body{
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	font-size: .12rem;
	display: flex;
	flex-direction:column;
}
.header{
	height: .44rem;
	border-bottom: 1px solid #ccc;

}
.content{
	flex:1;
	overflow-y:scroll;
}
.footer{
	height: .44rem;
	border-top: 1px solid #ccc;
}